[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "==19.10b0"
pytest-cov = "*"
coveralls = "*"
flake8 = "*"
requests-mock = "*"
flake8-bugbear = "*"

[packages]
click = "*"
requests = "*"
attrs = "*"
bs4 = "*"
sickle = "*"

[requires]
python_version = "3.8"

[scripts]
hoard = "python -c \"from hoard.cli import main; main()\""
