[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "==19.10b0"
pytest-cov = "*"
coveralls = "*"
flake8 = "*"

[packages]
click = "*"

[requires]
python_version = "3.8"
